@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: #f3f5f9;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #d0d0d1;
  padding: 30px 0;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid rbga(0, 0, 0, 0.05);
  border-top: 1px solid rbga(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #313033;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background: #b5b3be;
}

.wrapper .sidebar li ul {
  display: none;
}
.wrapper .sidebar li:hover ul {
  display: block;
}
.wrapper .sidebar li ul a {
  color: #ffffff;
}

.wrapper .main_content2 {
  height: 150px;
  margin-left: 350px;
}

div#lista {
  height: 150px;
  margin-left: 220px;
}

.cadastro {
  height: 150px;
  margin-left: 220px;
}
