<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for i in usuarios %}

    <ul>
      <li>Nome: {{i.nome}}</li>
      <li>Sobronome: {{i.sobrenome}}</li>
      <li>Sexo: {{i.sexo}}</li>
      <li><a href="{% url 'alterar' id=i.id %}">Alterar</a></li>
      <a href="{% url 'deletar' id=i.id %}">Deletar</a>
    </ul>

    {% endfor %}
  </body>
</html>
